# --- Arquivos Compilados ---
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Logs ---
hs_err_pid*

# --- Gradle ---
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# --- VSCode ---
.vscode/
bin/
**/*.code-workspace

# --- Eclipse ---
.metadata
.classpath
.project
.settings/

# --- IntelliJ ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Ignora os arquivos XML gerados ---
dados_*.xml
*.xml.bak